<form action="/square/results">

  <label for="num">Enter a number </label>

  <input id="num" type="text" name="user_num" placeholder="What number do you want">

  <button> Calculate square </button>

</form>
